
p{
    color: rgb(44, 47, 51);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(136, 135, 135);
    padding: 10px;
    margin: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }